extends layout

block content
  h1= orders.length
  ul.no-style
    for order in orders
      li #{order.orderType} : #{order.items}

 // TODO: Delete Order button (only user who created the order)

 // Display by individual shops, and display All Orders as well
 // Aggregate total quantities, e.g. muffins