extends layout

block content
  .row
    .col-sm-6
      .lead.text-success.text-center
        i.fa.fa-usd
        |  Sell
      a.btn.btn-block.btn-success(href='/orders/new/sell') Place Order
      a.btn.btn-block.btn-default(href='/orders?type=sell') View Existing Orders
    .col-sm-6
      .lead.text-primary.text-center
        i.fa.fa-cutlery
        |  Create
      a.btn.btn-block.btn-primary(href='/orders/new/create') Place Order
      a.btn.btn-block.btn-default(href='/orders?type=create') View Existing Orders