extends layout

block content
  .hero-unit
    h1 Coffeed Order System
    p
      | This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  .row
    .span6
      h2 To Sell
      .btn.btn-block.btn-primary Order
      .btn.btn-block View Existing Orders
    .span6
      h2 To Create
      .btn.btn-block.btn-primary Order
      .btn.btn-block View Existing Orders