extends layout

block content
  .row
    .span6
      h2 To Sell
      a.btn.btn-block.btn-primary(href='/orders/sell/new') Order
      a.btn.btn-block View Existing Orders
    .span6
      h2 To Create
      a.btn.btn-block.btn-primary(href='/orders/create/new') Order
      .btn.btn-block View Existing Orders