doctype !!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/todc-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if message
      .alert.alert-danger Message
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Coffeed
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Dropdown
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li.nav-header Nav header
                  li
                    a(href='#') Separated link
                  li
                    a(href='#') One more separated link
            if user
              ul.nav.pull-right
                  li
                    a(href='#') #{user.username}
                  li
                    a(href='/logout') Logout
            else
              ul.nav.pull-right
                li
                  a(href='/login') Sign in
                li
                  a(href='/signup') Create an account
    .container
      block content
      hr
      footer
        p © Coffeed 2013

    script(src='/javascripts/jquery-1.10.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/main.js')