doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/todc-bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Coffeed
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
              li
                a(href='/signup') Signup
              li
                a(href='#contact') Contact
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Dropdown
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li.nav-header Nav header
                  li
                    a(href='#') Separated link
                  li
                    a(href='#') One more separated link
            form.navbar-form.pull-right(action='/login', method='POST')
              input.span2(type='text', placeholder='Username')
              input.span2(type='password', placeholder='Password')
              button.btn.btn-primary(type='submit') Sign in
    .container
      block content
      hr
      footer
        p © Coffeed 2013

    script(src='/javascripts/jquery-1.10.2.min.js')
    script(src='/javascripts/bootstrap.min.js')