extends layout

block content
  h2 Order Items
  table.table.table-striped.table-bordered
    thead
        tr
          th #
          th Name
          th Quantity
      tbody
        tr
          td 1
          td Mark
          td
            input.span1(type='text', value=0)
        tr
          td 2
          td Jacob
          td
            input.span1(type='text', value=0)
        tr
          td 3
          td Larry
          td
            input.span1(type='text', value=0)
