extends layout

block content
  h2 Order Items

  table.table.table-striped.table-bordered
    thead
        tr
          th #
          th Name
          th Quantity
      tbody
        each item, i in items
          tr
            td.span1= i+1
            td= item.name
            td.span1
              input(type='text', value=0)

  button.btn.btn-large.btn-success
    i.icon-shopping-cart.icon-white
    |  Place Order