extends layout

block content
  h2.page-header
    i.fa.fa-pencil
    |  Signup
  form(action='/signup', method='POST')
    .row
      .col-xs-6.form-group
        label First Name
        input.form-control(type='text', name='firstname')
      .col-xs-6.form-group
        label Last Name
        input.form-control(type='text', name='lastname')
    .form-group
      label Email Address
      input.form-control(type='email', name='email')
    .form-group
      label Username
      input.form-control(type='text', name='username')
    .form-group
      label Password
      input.form-control(type='password', name='password')
    .form-group
      input.btn.btn-primary(type='submit', value='Signup')